# Device specific
SYSTEM=mmcblk0p16
USERDATA=mmcblk0p29
CACHE=mmcblk0p18
BOOT=mmcblk0p20
SYSTEM_FSTYPE=ext4
USERDATA_FSTYPE=ext4
SS_FSTYPE=ext4
SS_PART=mmcblk0p29
SS_DIR=/ss/safestrap
HIJACK_BIN=e2fsck
HIJACK_LOC=bin
BOOTMODE_PROP=ro.bootmode
DEVICE_PROP=ro.product.device
CHARGER_MODE_SYSFS=/sys/class/power_supply/ac/online
CHECK_BOOTMODE=bp-tools
CHECK_POWERUP_REASON=/sbin/bbx cat /proc/bootinfo | /sbin/bbx grep POWERUPREASON | /sbin/bbx cut -c 19-
POWERUP_REASON_CHARGER=00000100
BACKLIGHT_BRIGHTNESS_PATH=/sys/class/lcd/panel/backlight
BACKLIGHT_BRIGHTNESS_VALUE=200
TASKSET_CPUS=0-3
SS_USE_DATAMEDIA=1
DEBUG_MODE=0

